@charset "utf-8";
/* CSS Document */

body { 

		margin: 0; 
		padding: 0;
}	

header {

        background-color: #daffd6;
		font-size: 1.5em;
		font-family: "Lucida Sans";
        text-align:center;
        display: flex;
        justify-content: center;
}

.header_img {
    float: left;
    width: 50px;
    height: 50px;
    margin: 30px;
}

h1 {
        color: #077f00;
}

h2 {
    text-align: left;
    margin: 0;
    padding: 0;
}

nav {
    clear: both;
    background-color: #36594f;
    display: flex; 
    justify-content: center;
}

nav a {
        background-color: #36594f;
        text-decoration: none;
        font-family: Arial;
        padding: 10px; 
        text-align: center;
        color: #b0d881;
        font-size: 20px;
        text-decoration: none;
		font-size: 1.2em;
}

nav a:hover {
        background-color: #293f39;
		color: #F2F2F2;
}

main {
    background-color: white;
    font-family: "Helvetica";
    line-height: 30px;
    text-align: center;
    color: #044900;
    width: 100%;
    margin: 0 0 90px 0;
    display: table;
}

main h1 {
    text-align: left;
}

main a {
    text-decoration: none;
    color: inherit;
}

main a:visited {
    text-decoration: none;
    color: inherit;
}

.page_title
{
    position: relative;
}

.page_title img {
    height: 150px;
    width: 100%;
    object-fit:cover;
    opacity: 50%;
}

.centered_title
{ 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.5em;
    line-height: 1;
    font-weight: bold;
    width: 90%;
}

.content {
    margin: 0px 7%;
    font-size: 1em;
}

.content ol{
    text-align: left;
    font-weight: bold;
}

.content ul {
    text-align: left;
    font-weight: bold;
}

.content dd {
    font-weight: normal;
    opacity 1;
}

.split {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}

.split:hover {
    box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}

.split img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.split_text {
  text-align: left;
  padding: 10px 20px;
}

.recycle_table {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 25px;
    table-layout: fixed;
    border: #077f00 solid 3px;
    border-radius: 15px;
    font-size: 13px;
    font-weight: bold;
}

.red_table{
    color: #6c0000;
    border-color: red
}

table img{
    width: 100%;
    max-width: 300px;
}

.right_float {
    width: 60%;
    min-width: 400px;
    max-width: 600px;
    float: right;
}

.why_recycle {
    position: relative;
    opacity: 1;
    margin-bottom: 50px;
}

.why_recycle::before {
    border-radius: 10px;
    content: "";
    background: url("/general_files/field.jpg");
    background-size: cover;
    background-position: center;
    opacity: 0.25;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}

.centered_circled {
    display: flex;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border-style: outset;
}

.centered_circled img{
    margin: auto;
    width: 140px;
    height: 140px;
    object-fit: scale-down;
}

.left_text {
    text-align: left;
    margin-left: 20px;
}

.infographic {
    margin-bottom: 50px;
}

footer {
    position:fixed;
    bottom:0;
    width:100%;
    height: 70px;
    background-color: #36594f;
    padding: 10px 2.5%;
    box-sizing: border-box;
}

.footer_text {
    float: left;
    color: white;
    font-family: "Lucida sans"
}

.footer_img {
    float: right;
    width: 30px;
    height: 30px;
    padding: 10px;    
}
